:root{
    --ATTBlue: #009FDB;
    position: fixed;
}

.root{
    position: fixed;
}

.rightBar{
    background-color: #33383e;
    color: white;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
}

.confButton{
    width:100%;
    height: 10vh;
    border-radius: 0;
}

button{
    height: 60px
}

.tipsOptions{
    background-color: rgba(33,37,41);
    color: white;
}

.totalSum{
    color: white;
    text-align: center;
}

.row{
    --bs-gutter-x: 0;
}

.header{
    background-color: var(--ATTBlue);
    color:white;
}

table{
    display: block;
    height: 65vh;
    overflow-y: scroll;
}

th{
    width: 20vw
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.carousel-item{
    height: 40vh
}

.has-error{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483 !important;
    border-color: #843534 !important;
}